input.date {
    background-image: url(../img/icon-calendar.svg);
    background-size: 20px 20px;
    background-position: right 10px center;
}

.ui-datepicker {
    width: 294px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);

    &.boxed {
        width: 264px;
    }

    .ui-datepicker-header {
        border-bottom: 1px solid #eee;
        padding: 0;
        margin-bottom: 15px;
    }
    
    .ui-datepicker-title {
        @include line-height(14, 42);
        margin: 0 47px;
    }
    

    .ui-datepicker-prev,
    .ui-datepicker-next {
        top: 10px;

        .ui-icon {
            border-top: 2px solid #999;
            border-right: 2px solid #999;
            height: 7px;
            width: 7px;
            margin-top: -4px;
        }
    }

    .ui-datepicker-prev {
        left: 22px;

        .ui-icon {
            transform: rotate(225deg);
            margin-left: -2px;
        }
    }

    &.boxed .ui-datepicker-prev {
        left: 19px;
    }

    .ui-datepicker-next {
        right: 22px;

        .ui-icon {
            transform: rotate(45deg);
            margin-left: -4px;
        }
    }

    &.boxed .ui-datepicker-next {
        right: 19px;
    }

    table {
        font-size: 1em;
        width: 90%;
        margin: 0 auto 13px;
    }

    th {
        padding: 0;
        width: percentage(1 / 7);
        @include font-size(12, 32);
        color: $color-blue;
        font-weight: normal;
    }

    td {
        padding: 0;
        width: percentage(1 / 7);

        a {
            border: 1px solid transparent;
            text-align: center;
            padding: 0;
            @include line-height(14, 30);
            color: inherit;

            @include hover {
                border-color: $color-green;
            }

            &.ui-state-active {
                border-color: $color-green;
                background-color: $color-green;
                color: #FFF;
            }
        }

        &.ui-datepicker-today a {
            border-color: $color-green;
        }

        &.ui-datepicker-other-month {
            opacity: 0.3;
        }
    }
}
