<header class="hdr-global">

    <div class="hdr-banner">
        <div class="logo">
            <img src="img/logo-smart-mgmt.png" alt="Smart Management">
        </div>

        <nav class="nav-utility">
            <button type="button" class="btn-nav-utility"><span>Toggle utility menu display</span></button>
            <ul>
                <li><a href="TEST" class="dollar">Payment</a></li>
                <li><a href="TEST" class="menu">New ticket</a></li>
                <li><a href="TEST" class="dollar">Auto payment</a></li>
            </ul>
        </nav>
    </div>

    <div class="hdr-nav">
        <nav class="nav-main">
            <ul>
                <li><a href="TEST">Payments</a></li>
                <li><a href="TEST">Maintenance</a></li>
                <li><a href="TEST">Settings</a></li>
                <li><button type="button" class="btn-nav-main-more">More</button>
                    <ul>
                        <li><a href="TEST">Profile</a></li>
                        <li><a href="TEST">Help</a></li>
                        <li><a href="TEST">Contact</a></li>
                        <li><a href="TEST">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <label class="switch large" data-text-off="Automatic payments are off" data-text-on="Automatic payments are on">
            <span class="text"></span>
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

</header>