$small-only: 'screen and (max-width: 462px)';

$small-up: 'screen and (min-width: 463px)';

$mid: 'screen and (min-width: 463px) and (max-width: 979px)';

$large-down: 'screen and (max-width: 979px)';

$large-up: 'screen and (min-width: 980px)';