
$color-gray: LightGray;
$color-gray-dark: #6d6e71;
$color-gray-v-dark: #231f20;

$color-text: #6d6e71;
$color-text-dark: #231f20;

$color-text: $color-gray-dark; // 109, 110, 113
$color-text-dark: $color-gray-v-dark; // 35, 31, 32

$color-gray-bg: #fafbfc;

$color-blue: #318bfa;
$color-blue-light: #fef0d0;

$color-green: #4bc800;
$color-green-light: #48c800;

$color-orange: DarkOrange;
$color-orange-light: Orange;

$color-red: #e53935;
$color-red-light: LightPink;

$color-pink: DeepPink;

